## Pandas - Operations

In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame({'col1' : [1,2,3,3],
                   'col2' : [444,555,666,444],
                   'col3' : ['abc','xyz','def','ghi']},)
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  xyz
2     3   666  def
3     3   444  ghi

#### get unique values as array

In [8]:
df['col1'].unique()

array([1, 2, 3])

#### get number of unique values

In [9]:
df['col2'].nunique()

3

#### get count of each unique value

In [10]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

#### comining conditions

In [11]:
df[(df['col1'] > 2) & (df['col2'] == 444)]

   col1  col2 col3
3     3   444  ghi

#### powerlful 'apply' function

In [12]:
df['col1'].apply(lambda x: x*2)    # Apply function to entire column

0    2
1    4
2    6
3    6
Name: col1, dtype: int64

#### get column names

In [13]:
df.columns

Index([u'col1', u'col2', u'col3'], dtype='object')

#### get index (row) names

In [14]:
df.index

RangeIndex(start=0, stop=4, step=1)

#### sorting

In [15]:
df.sort_values('col2')

   col1  col2 col3
0     1   444  abc
3     3   444  ghi
1     2   555  xyz
2     3   666  def

#### knowing null values

In [16]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

### Pivot tables

In [18]:
data = {'A' : ['foo','foo','foo','bar','bar','bar'],
        'B' : ['one','one','two','two','one','one'],
        'C' : ['x','y','x','y','x','y'],
        'D' : [1,3,2,5,4,1]}

df = pd.DataFrame(data)
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [21]:
pvt_tbl = df.pivot_table('D',['A','B'],'C')

In [23]:
pvt_tbl.index

MultiIndex(levels=[[u'bar', u'foo'], [u'one', u'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=[u'A', u'B'])